body{
  background-image: linear-gradient(#a8ff78, #78ffd6);
}

#add-button{
  height: 40px;
  width: 80px;
  outline: none;
}

#box{
  width:300px;
  height:450px;
}

#top{
  width:300px;
  height:64px;
  border-bottom-color: black;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  align-self: left;
}

#title{
  color: #ff78a7;
  font-size: 30px;
  padding-left: 90px;
  padding-top: 14px;
}
