body{
  /*background-image: linear-gradient(#F0F2F0, #000C40);*/
  color: #F5F5F5;
}

#add-button{
  height: 40px;
  width: 80px;
  outline: none;
}

#box{
  width:300px;
  height:450px;
}

#top{
  width:300px;
  height:64px;
  /*border-bottom-color: black;*/
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  align-self: left;
}

#title{
  /*color: #ffc9cf;*/
  font-weight = bold;
  color: #dba8a7;
  font-size: 25px;
  padding-top: 14px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.forchrome{
  color: #3cba54;
  font-size: 20px;
  padding-left: 0px;
  padding-top: 14px;
  font-family: 'Quicksand', sans-serif;

}

.regfont{
  /*color: #ffc9cf;*/

  color: #000000;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-top: 14px;
  font-family: 'Quicksand', sans-serif;
}

.column {
    display:inline-block;
    float: left;
    width: 50%;
}

.bothcolumn{
  margin-left: 16px;
}


.button {
    display: block;
    background-color: #dba8a7;
    min-width: 120px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    display: flex // define a flex container
    flex-direction: column; // arrange items in column
    justify-content: center; // align vertically center
    margin-left: 100px;
    vertical-align: middle;
}

.button:hover {
    background-color: #D19E9D;
    color: white;
}

.button1 {
}

.button2 {
}

.button3 {
}

.button4 {
}

#save{}
